/*h1 {
 text-align:center;
font-size: 500%;
font-family:'SpeedeeWRg', sans-serif ;
font-weight: 300;
}
p {
    float: none;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
    width: 48%;
    font-size: 2em;

}
div{
   margin:100px;
     text-align:right;
  border-radius: 5px;
  padding: 20px;

}
img{
  margin-right:25%;
  margin-left:32%;
}

word{
    float: none;
    margin: 0 auto;
    text-align: right;
    line-height: normal;
    width: 48%;
    font-size: 2em;
 margin-right:30%;
  margin-left:70%
}
input{
  text-align:right;

}
form{
  text-align:right;
  margin-right:25%;

}*/
#first{
  margin: 0 0 0 250px;
  text-decoration: none;
  color: black;
}
#first:hover{
  color: red;
}
input[type=text], select {
  text-align:right;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  height: 10%;

}
input[type=tel], select {
  text-align:right;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}
option{
  text-align:right;
}


input[type=date], select {
  text-align:right;
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  text-align:right;
  font-size: 16px;
  resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: red;
border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
 margin-right:25%;
  margin-left:85%;
  cursor: pointer;
}
input[type=email], select {
  text-align:right;
  width: 48%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  height: 20%;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: red;
  border: 2px solid #000;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
 margin-right:25%;
  margin-left:85%;
  cursor: pointer;
}
#list{
  width: 13%;
  border: 1px solid #000;
}
#ll{
  width: 5%;
  border: 1px solid #000;
}
#p{
  text-align: center;
  font-size: 55px;
  margin-left: 50px;
}
#pp{
  text-align: center;
  font-size: 25px;
}
#img1{
  margin-left: 370px;
  width: 740px;
  height: 170px;
}
#m{
  text-align: right;
  margin-right:470px;
}
#ff{
  margin-right:470px;
  text-align: right;
}
#a{
margin-left:740px;
}
word{
    float: none;
    margin: 0 auto;
    text-align: right;
    line-height: normal;
    width: 48%;
    font-size: 2em;
 margin-right:30%;
  margin-left:70%
}
/* footer */
.footer, .social-icons{
  display: inline;
  padding-left: 0;
  margin-left: 0;
}
.footer{
  display: flex;
  padding-left: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: sans-serif;
  font-size: 0.8em;
  width: 100%;
}
.footer a{
  font-family: sans-serif;
  text-decoration: none;
  padding: 0 5px;
  color: black;
}
.footer a:hover{
  color: #fdc513;
}
footer{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer .foot-icons{
  color: black;
  font-size: 25px;
}
.footer .foot-icons:hover{
  color: #fdc513;
}
.header{
  display: flex;
  padding: 9px 10px;
  margin-bottom: 50px;
}
.logo{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.150);
  padding-top: 35px;
  margin-right: 100px;
  z-index: 1000;
}
nav{
  width: 100%;
  height: 6vh;
}
nav a{
  text-decoration: none;
}
ul li{
  list-style: none;
}

/* List One */
.list1{
  display: flex;
  direction: rtl;
  position: absolute;
  display: none;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}
.list1 .col-xs-2 h3 a{
  font-size: 20px;
  color: black;
}
.list1 .col-xs-2 h3 a:hover{
  color: #fdc513;
}
.list1 .col-xs-2{
  margin: 0 20px;
}
.list1-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list1-content a{
  color: #ABABAB;
}
.list1-content a:hover{
  color: #fdc513;
}
.col-xs-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.first-list{
  color: black;
  font-size: 2em;
  padding-right: 40px;
}
.first-list:hover {
  color: #fdc513;
}
.subnav:hover .list1{
  display: flex;
  direction: rtl;
  position: absolute;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}


/* List Two */
.list2{
  display: flex;
  direction: rtl;
  position: absolute;
  display: none;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}
.list2 .col-xs-2 h3 a{
  font-size: 20px;
  color: black;
}
.list2 .col-xs-2 h3 a:hover{
  color: #fdc513;
}
.list2 .col-xs-2{
  margin: 0 20px;
}
.list2-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list2-content a{
  color: #ABABAB;
}
.list2-content a:hover{
  color: #fdc513;
}
.col-xs-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.second-list{
  color: black;
  font-size: 2em;
  padding-right: 40px;
}
.second-list:hover {
  color: #fdc513;
}
.subnav:hover .list2{
  display: flex;
  direction: rtl;
  position: absolute;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}


/* List Three */
.list3{
  display: flex;
  direction: rtl;
  position: absolute;
  display: none;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}
.list3 .col-xs-2 h3 a{
  font-size: 20px;
  color: black;
}
.list3 .col-xs-2 h3 a:hover{
  color: #fdc513;
}
.list3 .col-xs-2{
  margin: 0 20px;
}
.list3-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list3-content a{
  color: #ABABAB;
}
.list3-content a:hover{
  color: #fdc513;
}
.col-xs-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.third-list{
  color: black;
  font-size: 2em;
  padding-right: 40px;
}
.third-list:hover {
  color: #fdc513;
}
.subnav:hover .list3{
  display: flex;
  direction: rtl;
  position: absolute;
  font-size: 14px;
  z-index: 100;
  right: 0;
  background-color: white;
  width: 100%;
  padding: 40px 0;
}



.main{
  padding: 0 30px;
}
.left-side{
  padding-left: 150px;
}
.left-side .lang span{
  color: black;
  font-size: 20px;
}
.left-side .lang span:hover{
  color: #fdc513;
}
.left-side .left{
  color: black;
  font-size: 25px;
  padding: 0 10px;
}
.left-side .left:hover{
  color: #fdc513;
}
.main .subnav .right{
  font-size: 25px;
  padding-right: 5px;
}


/* images section */
.images-container{
  display: flex;
  padding-bottom: 10px;
}
.images-container .image{
  height: 200px;
  width: 25%;
  overflow: hidden;
  position: relative;
  margin-top: 2px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000000;
}

.images-container .image:hover .overlay {
  opacity: 0.5;
}
